.info {
  color: green;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

.description {
  font-family: Helvetica;
}

.image {
  border: 5px solid red;
  border-radius: 25px;
  padding: 10px;
  height: 100px;
  width: 100px;
  display: block;
  margin-left: 500px;
}

.lists {
  font-size: 30px;
  line-height: 30px;
}
